
.spot {
    --grid-square-size: 20vw;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image:
        linear-gradient(var(--primary-border-color) 1px, transparent 1px), 
        linear-gradient(90deg, var(--primary-border-color) 1px, transparent 1px);
    opacity: .4; /* add contrast with other borders */
    background-size: var(--grid-square-size) var(--grid-square-size);
    background-position: calc(-1 * var(--grid-square-size) / 2) calc( -1 * var(--grid-square-size) / 2);
    
    mask-repeat: no-repeat;
}


@media screen and (min-width: 1024px) {
    .spot {
        --grid-square-size: 10vw;
    }
}

.circle {
    mask-image: radial-gradient(circle, black 0%, transparent 100%);
}

.square {
    mask-image: 
        linear-gradient(transparent 0%, black 10%, black 90%, transparent 100%),
        linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-composite: intersect;
}