.btn {
    --btn-color: hsl(var(--accent-hue), 80%, 40%);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    border-radius: 100vw;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    --btn-color: hsl(var(--accent-hue), 100%, 50%);
}

.primary {
    background-color: var(--btn-color);
    color: white;
}

.primary {
    background-color: var(--btn-color);
    color: white;
}

.secondary {
    color: var(--btn-color);;
    border: 1px solid;
    background: hsla(var(--accent-hue), 100%, 70%, 0.05);
    /* couldnt use hsla because of the grid background. we still keep it for browser compatibility */
    background-color: color-mix(in srgb, var(--body-bg-color) 95%, hsl(var(--accent-hue), 100%, 70%) 5%)
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}