.hero {
    text-align: center;
}

.content {
    padding: var(--container-padding);
    max-width: clamp(29rem, 75vw, 48rem);
    margin-inline: auto;
    min-height: 80vh;
    display: grid;
    place-content: center;
    justify-items: center;
}

.title {
    font-size: clamp(1.75rem, 6vw, 4rem);
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 600;
}

.subtitle {
    color: var(--text-light);
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: 3rem;
}

.ctas {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* gradient 3 states of gradient, (from 100% to 0 -> left to right)  */
/* 100% -> 80%  white (default)*/
/* 80% -> 20% white red white red (flash) */
/* 20% -> 0% white red  (final) */
.animatedGradient {
    background-image: linear-gradient(90deg,
            white 0%,
            var(--text-accent) 20%,
            white 40%,
            var(--text-accent) 60%,
            white 80%);
    background-size: 500% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}