.link {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin: max(1vw, 1vh);
    padding: max(1vw, 1vh);
    text-transform: capitalize;

    transition: color 0.2s ease-in-out;
}

.link:hover {
    cursor: pointer;
    color: var(--text-accent);
}