a, a:where(:visited, :hover) {
    color: inherit;
    text-decoration: none;
}


img, svg {
    display: block;
    max-width: 100%;
}


/* Global styles */
:root {
    --primary-hue: 240;
    --accent-hue: 195;

    --text-accent: hsl(var(--accent-hue), 100%, 50%);
    --text-light: hsl(var(--primary-hue), 20%, 80%);

    --container-padding: clamp(1rem, 5vw, 3rem);
    --container-width: 1450px; 
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #00000F;
    color: white;
    line-height: 1.5;
    text-wrap: pretty;
}


.text-accent {
    color: var(--text-accent);
}