.container {
    padding-inline: var(--container-padding);
    max-width: var(--container-width);
    padding-top: 10rem;
    padding-bottom: 3rem;
    margin-inline: auto;
}

.content {
    margin-bottom: 2rem;
}

.title {
    font-size: clamp(2rem, 7vw, 3rem);
    line-height: 1.2;
    font-weight: 600;
    text-wrap: balance;
}

.text {
    color: var(--text-light);
    line-height: 1.75;
}

.card {
    padding: clamp(2rem, 3vw, 4rem);
    border-radius: 0.75rem;
    border: 1px solid var(--primary-border-color);
    background-color: hsl(var(--primary-hue), 30%, 8%);
    max-width: 35rem;
}

.formFooter {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.socialLink {
    transition: color 0.1s ease-out;
    color: var(--text-accent);
}

.socialLink:hover,
.socialLink:focus-visible {
    color: inherit;
}

.contactLink:focus-visible,
.socialLink:focus-visible {
    border-radius: .25rem;
    outline: .25rem solid hsla(var(--accent-hue), 100%, 50%, .25)
}

.contactList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contactLink {
    transition: color 0.1s ease-out;
}

.contactLink:hover,
.contactLink:focus-visible {
    color: var(--text-accent);
}

.contactIcon {
    color: var(--text-accent);
    font-size: 1.25rem;
}