.container {
    padding-inline: var(--container-padding);
    max-width: var(--container-width);
    margin-inline: auto;
    padding-top: 5rem;
    margin-top: 5rem;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: clamp(2rem, 7vw, 3rem);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 5rem;
    text-wrap: balance;
}

/* color: hsl(var(--primary-hue), 70%, 60%); */
.separator {
    --clip-right: 0%;
    --clip-bottom: 100%;
    --border-radius: 0px;


    color: var(--text-accent);
    border-left: 2px solid;
    height: 20vh;
    margin-inline: auto;
    width: fit-content;
    clip-path: inset(0 calc(var(--clip-right) - var(--border-radius)) var(--clip-bottom) 0);

}

.content {
    opacity: 0;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .separator+.content {
        transform: translate(0, -20px);
    }
}

.contentTitle {
    font-size: clamp(1.25rem, 5vw, 1.75rem);
    line-height: 1.2;
    text-wrap: balance;
    margin-bottom: .5rem;
}

.text {
    color: var(--text-light);
    line-height: 1.75;
}


@media screen and (max-width: 1023px) {
    .container {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: auto minmax(20rem, auto);
        text-align: left;
    }

    .grid::before {
        /* blocks the 2/2 area */
        content: '';
        grid-column: 2;
        grid-row: 1;
    }

    .separator {
        --border-radius: 1.5rem;
        --clip-bottom: 100%;
        --clip-right: 100%;

        border-left: 2px solid;
        border-bottom: 2px solid;
        margin-left: 20%;
        width: 80%;
        height: 50%;
        border-bottom-left-radius: var(--border-radius);
    }

    .content {
        max-width: 55%;
    }

    .separator+.content {
        max-width: 60%;
        transform: translate(-20px, 0);
        margin-left: 20px;
    }
}